<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
    1、mybatis可以使用properties来引入外部properties配置文件的内容
    resource：引入类路径下的资源
    url：引入网络路径或者磁盘路径下的资源
    -->
    <properties resource="jdbc.properties"></properties>

    <!--
    2、settings包含很多重要的设置项
    setting：用来设置每一个设置项
        name：设置项名
        value：设置项值
    -->
    <settings>
        <!--显式的指定每个需要更改的配置的值，即使是默认的。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="lazyLoadingEnabled" value="true"></setting>-->
<!--        <setting name="aggressiveLazyLoading" value="false"></setting>-->
    </settings>

    <!--
    3、typeAliases：别名处理器，可以为java类型起别名,别名不区分大小写
    ①：typeAlias：为某个java类型起别名
        type:指定要起别名的类型的全类名，默认的别名就是类名小写
        alias：指定新的别名
    ②：批量起别名：package：为某个包下的所有类批量起别名
        name：指定包名（为当前包以及下面所有的后代包的每一个类都起一个默认的别名（类名小写））
    ③：在批量起别名的情况下，使用@Alias注解为某个类型指定新的别名
    -->
    <typeAliases>
        <!--<typeAlias type="com.teng.bean.Employee" alias="emp"></typeAlias>-->
        <package name="com.teng.bean"></package>
    </typeAliases>

    <!--
		4、environments：环境们，mybatis可以配置多种环境 ,default指定使用某种环境。可以达到快速切换环境。
			environment：配置一个具体的环境信息；必须有两个标签；id代表当前环境的唯一标识
				transactionManager：事务管理器；
					type：事务管理器的类型;JDBC(JdbcTransactionFactory)|MANAGED(ManagedTransactionFactory)
						自定义事务管理器：实现TransactionFactory接口.type指定为全类名

				dataSource：数据源;
					type:数据源类型;UNPOOLED(UnpooledDataSourceFactory)
								|POOLED(PooledDataSourceFactory)
								|JNDI(JndiDataSourceFactory)
					自定义数据源：实现DataSourceFactory接口，type是全类名
		 -->

    <environments default="dev_mysql">

        <environment id="dev_mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
<!--        <mapper resource="UserMapper.xml"/>-->
        <!--<mapper class="com.teng.dao.EmployeeMapperAnnotation"></mapper>-->
        <!--批量注册-->
        <package name="com.teng.mybatis.dao"></package>
    </mappers>
</configuration>
